---
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Page from '../layouts/Page.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Page>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<h4 class="mb-0">{post.data.title}</h4>
									<p class="text-sm italic my-0 py-0">
										<FormattedDate date={post.data.pubDate} />
                  
									</p>
                  <p>{post.data.description}</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
</Page>
